.idea
__pycache__
.vscode

MouseDynamics/
trainedModels/
evaluationResults/
oldMeasurement/
savedImages/
DFL/
normalizedDataset/
generatedCSVData/
afe_pkg.egg-info/
datasets_raw_csv_data/
figures/

*.xlsx
*.csv
*.png
